/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};

	sensor_node0: sensor-node-0 {
		compatible = "pes,sensor-node";
		uart = <&uart0>;
		status = "okay";
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
